 
body {
   color: #0369ac;
   font-family: 'Marcellus', serif;
   background: url(../images/caduceus.jpg) no-repeat center;
   background-size: 700px auto;
   font-size: 15px;
}


.col-md-6{
	font-family: 'Lobster';
	color: #3A7DA3;
	text-align: center;
	width: auto;
	margin-left: auto;
  	margin-right: auto;
}
