h1 {
	color: #3A7DA3;
	font-family: 'Tangerine', cursive;
	text-align: center;	
	font-size: 40px;
}

h3 {
	color: #3A7DA3;
	font-family: 'Marcellus', serif;
	margin-left: 540px;	
	font-size: 20px;
}

h5 {
	color: #3A7DA3;
	font-family: 'Marcellus', serif;
	margin-left: 590px;	
	font-size: 10px;
}

hr {
	border: 3px solid #3A7DA3; 
	border-radius: 300px/10px; 
	height: 0px; 
	text-align: center;
}

.form-control{
	font-family: 'Marcellus', serif;
	color: #3A7DA3;
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
  	height: 100px;
}

.form-control2{
	font-family: 'Marcellus', serif;
	color: #3A7DA3;
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
}

label {
	font-family: 'Marcellus', serif;
	color: #3A7DA3;
}

img {
	width: 80px; 
	left bottom;
	margin-left: 50px; 
}

.table-striped{
	border: #3A7DA3 3px solid;
	font-family: 'Marcellus', serif;
	color: #3A7DA3;

}