h1 {
	color: #3A7DA3;
	font-family: 'Tangerine', cursive;
	text-align: center;	
	font-size: 40px;
}

h3 {
	color: #3A7DA3;
	font-family: 'Marcellus', serif;
	margin-left: 540px;	
	font-size: 20px;
}

h5 {
	color: #3A7DA3;
	font-family: 'Marcellus', serif;
	margin-left: 590px;	
	font-size: 10px;
}

h6 {
	color: #3A7DA3;
	font-family: 'Marcellus', serif;
	text-align: center;	
	font-size: 50px;
}

h4 {
	color: #3A7DA3;
	font-family: 'Marcellus', serif;
	text-align: center;	
	font-size: 50px;
}

img {
	width: 80px; 
	left bottom;
	margin-left: 50px; 
}

.opciones{
	color: #3A7DA3;
	font-family: 'Marcellus', serif;
	text-align: center;	
	font-size: 20px;
}

hr {
	border: 3px solid #3A7DA3; 
	border-radius: 300px/10px; 
	height: 0px; 
	text-align: center;
}
