{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Marcellus|Tangerine" rel="stylesheet"> 
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>Historia clínica</title>
  
  <!--<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
   Custom fonts for this template-->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
  
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css'%}" rel="stylesheet">
  
  <link href="{% static 'css/sb-admin.css'%}" rel="stylesheet">

</head>

<body class="fixed-nav bg-dark" id="page-top">







  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand"> Historia Clinica</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">

<!--><-->
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link">
            <a href="{% url 'Ingresarpaciente' %}">Ingresa paciente</a><br>
            <a href="{% url 'MotivoConsulta' %}">Motivo de consulta</a><br>
            <a href="{% url 'Enfermedad' %}">Enfermedad actual</a><br>
            <a href="{% url 'Gustos' %}">Gustos</a><br>
            <a href="{% url 'Examen' %}">Examen Físico</a><br>
            <a href="{% url 'Revision' %}">Revisión de Sistemas</a><br>
            <a href="{% url 'Plan' %}">Plan de Manejo</a><br>
            <a href="{% url 'hola' %}">Antecedentes</a><br>
            <a href="{% url 'diagnostico_medico' %}">Diagnóstico (CIE 10)</a><br>
            <a href="{% url 'propios' %}">Diagnóstico Propio</a><br>
            <a href="{% url 'Terapias' %}">Terapias</a><br>
            <a href="{% url 'Resultado' %}">Resultado Examenes</a><br>
            <a href="{% url 'Medidas_antropometricas' %}">Medidas antropométricas</a><br>
          </a>
        </li>
      </ul>
      
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal" >
          <i class="fa fa-fw fa-sign-out"></i>Salir</a>
        </li>
      </ul>
    </div>
  </nav>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">¿Desea salir?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Seleccione "Cerrar sesión" para terminar su sesión.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
            <a class="btn btn-primary" href="{% url 'endsesion' %}">Cerrar sesión</a>
          </div>
        </div>
      </div>
    </div>

  <div class="content-wrapper">
    <div class="container-fluid">
    {% block content %} 



    {% endblock %}
    </div>
  </div>



    
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{% static 'vendor/chart.js/Chart.min.js'%}"></script>
    <script src="{% static 'vendor/datatables/jquery.dataTables.js'%}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js'%}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin.min.js'%}"></script>
    <!-- Custom scripts for this page-->
    <script src="{% static 'js/sb-admin-datatables.min.js'%}"></script>
    <script src="{% static 'js/sb-admin-charts.min.js'%}"></script>
  </div>
</body>

</html>
