{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Marcellus|Tangerine" rel="stylesheet"> 
  
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <link rel="stylesheet" href="{% static 'css/base.css' %}">



  <title>Historia clínica</title>
  
</head>
<!--border="0" frameborder="0" framespacing="0" ... -->





<frameset rows="150,*">

                

   <frame scrolling="no" src="cabecera" name="cabecera" />
   

 

<frameset cols="300,*">

    <frame name="items" src="items">
    <frame name="contenido" src="contenido"> 
    <frame src="cerrarsesion" name="cerrar" />

</frameset>




  <!-- Navigation-->





  
<!-- <nav class="navbar navbar-dark">
    <div id="nav">
      <div class="titulonav">
      Historia clinica
      </div>
      
      <div class="cuerporec">
      <ul>
        
         
            <li><a href="Ingresarpaciente">Ingresa paciente</a><br></li>
            <li><a href="{% url 'MotivoConsulta' %}">Motivo de consulta</a><br></li>
            <li><a href="{% url 'Enfermedad' %}">Enfermedad actual</a><br></li>
            <li><a href="{% url 'Gustos' %}">Gustos</a><br></li>
            <li><a href="{% url 'Examen' %}">Examen Físico</a><br></li>
            <li><a href="{% url 'Revision' %}">Revisión de Sistemas</a><br></li>
            <li><a href="{% url 'Plan' %}">Plan de Manejo</a><br></li>
            <li><a href="{% url 'hola' %}">Antecedentes</a><br></li>
            <li><a href="{% url 'diagnostico_medico' %}">Diagnóstico (CIE 10)</a><br></li>
            <li><a href="{% url 'propios' %}">Diagnóstico Propio</a><br></li>
            <li><a href="{% url 'Terapias' %}">Terapias</a><br></li>
            <li><a href="{% url 'Resultado' %}">Resultado Examenes</a><br></li>
            <li><a href="{% url 'Medidas_antropometricas' %}">Medidas antropométricas</a><br></li>
      </ul>
      </div>
    </div>
  </nav> -->
     
 



    
</frameset>

</html>
