{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Marcellus|Tangerine" rel="stylesheet"> 
  
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <link rel="stylesheet" href="{% static 'css/base.css' %}">



  <title>Historia clínica</title>
  
</head>
<!--border="0" frameborder="0" framespacing="0" ... -->





<frameset rows="150,*">

                

   <frame scrolling="no" src="cabecera" name="cabecera" />
   

 

<frameset cols="300,*">

    <frame name="items" src="items">
    <frame name="contenido" src="contenido"> 
    <frame src="cerrarsesion" name="cerrar" />

</frameset>
     
 </frameset>

</html>
