{% extends "base.html" %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Gustos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{%static 'js/bootstrap.min.js'%}">
  <link rel="stylesheet"  href="{% static 'css/estilos.css'%}">
  <link href="{% static 'css/sb-admin.css'%}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	{% block content %}
	<form method="POST">
		{% csrf_token %}
			<div class="form-group" align="center">
				<tr>
					<th>
						<br>
						<label for="id_paciente">Documento identificacion:</label>
					</th>
					<td>
						<input class="form-control" type="text" name="id_paciente" id = "id_paciente" required 
						placeholder="Cc paciente" maxlength="25">
					</td>
				</tr>
				<tr>
					<th>
						<label for="codigo">Código:</label>
					</th>
					<td>
						<input class="form-control" name="codigo" id = "codigo" required placeholder="Código CIE10"  maxlength="50">
					</td>
				</tr>
				<tr>
					<th>
						<label for="Nombre">Nombre:</label>
					</th>
					<td>
						<input class="form-control" name="Nombre" id = "Nombre" required placeholder="Nombre CIE10"  maxlength="50">
					</td>
				</tr>
				<tr>
					<th>
						<label for="Tipo">Tipo:</label>
					</th>
					<td>
						<input class="form-control" name="Tipo" id = "Tipo" required placeholder="Tipo CIE10"  maxlength="50">
					</td>
				</tr>
			</div>
		<div align="center"><input class="btn btn-primary btn-block-form" type="submit" value="Siguiente"></div>
	</form>
	<a href="javascript:history.go(-1)">Regresar</a>
	{% endblock content %}
</div>
</body>
</html>