
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Registrar Paciente</title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Marcellus|Tangerine" rel="stylesheet"> 
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/cuerpo2.css' %}">

  <!--<link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{%static 'js/bootstrap.min.js'%}">
  <link rel="stylesheet"  href="{% static 'css/estilos.css'%}">
  <link href="{% static 'css/sb-admin.css'%}" rel="stylesheet">-->
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	{% block content %}
	<form method="POST">
		{% csrf_token %}
			<div class="form-group" align="center">
				<tr>
					<th>
						<br>
						<label for="id_paciente">Documento identificacion:</label>
					</th>
					<td>
						<input title="Ingrese un documento valido" pattern="[0-9]*" class="form-control" type="text" name="id_paciente" id = "id_paciente" required 
						placeholder="Cc paciente" maxlength="25">

						<script>
			                  var value = parent.frames["items"].asignar(); 
			                  document.getElementById('id_paciente').value = value;
		              	</script>
					</td>
				</tr>
				<tr>
					<th>
						<br>
						<label for="Enf_actual">Enfermedad actual:</label>
					</th>
					<td>
						<textarea rows="5" cols="50" class="form-control" name="Enf_actual" id="Enf_actual" required placeholder="Describa aqui la enfermedad actual del paciente"  maxlength="1500"></textarea>
					</td>
				</tr>
			</div>
		<br><br>
		<div align="center"><input class="btn btn-primary btn-block-form" type="submit" value="Guardar"></div>
	</form>
	<br>
	<a href="ParaAportados">Siguiente</a>
	{% endblock content %}
</div>
</body>
</html>