
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Registrar Paciente</title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Marcellus|Tangerine" rel="stylesheet"> 
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/cuerpo.css' %}">

  <!--<link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{%static 'js/bootstrap.min.js'%}">
  <link rel="stylesheet"  href="{% static 'css/estilos.css'%}">
  <link href="{% static 'css/sb-admin.css'%}" rel="stylesheet">-->
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	{% block content %}
	<form method="POST">
		{% csrf_token %}
			<div class="form-group" align="center">
				<tr>
					<th>
						<br>
						<label for="id_paciente">Documento identificacion:</label>
					</th>
					<td>
						<input title="Ingrese un documento valido" pattern="[0-9]*" class="form-control" type="text" name="id_paciente" id = "id_paciente" required 
						placeholder="Cc paciente" maxlength="25">
					</td>
				</tr>
				<tr>
					<th>
						<label for="Clima">Clima:</label><br>
					</th>

					<td>
						<input class="form-control" name="Clima" id = "Clima" required placeholder="Clima"  maxlength="50">
					</td>
				</tr>
				<tr>	
					<th>
						<label for="Temperatura">Temperatura:</label>
					</th>
					<td>
						<input class="form-control" name="Temperatura" id = "Temperatura" required placeholder="Temperatura"  maxlength="50">
					</td>
				</tr>
				<tr>
					<th>
						<label for="Colores">Colores:</label>
					</th>
					<td>
						<input class="form-control" name="Colores" id = "Colores" required placeholder="Colores"  maxlength="50">
					</td>
				</tr>
				<tr>
					<th>
						<label for="Numeros">Numeros:</label>
					</th>
					<td>
						<input class="form-control" name="Numeros" id = "Numeros" required placeholder="Numeros"  maxlength="50">
					</td>
				</tr>
			</div>
		<div align="center"><input class="btn btn-primary btn-block-form" type="submit" value="Siguiente"></div>
	</form>
	<a href="javascript:history.go(-1)">Regresar</a>
	{% endblock content %}
</div>
</body>
</html>