{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/Historiaclinica.css' %}">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'js/bootstrap.min.js'%}">
    <link rel="stylesheet"  href="{% static 'css/estilos.css'%}">
    <link href="{% static 'css/sb-admin.css'%}" rel="stylesheet">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<br>
<h1>Busqueda de Historias Clínicas</h1>
<hr>

<form method="POST">
    {% csrf_token %}

    <div class="form-group" align="center">
        
        <label for="documento">Ingrese documento del paciente: </label>
        <input class="form-control" type="text" name="id_paciente" id="id_paciente"
        placeholder="Documento identificación" maxlength="12">
    </div>    
        
        <table class="table table-striped">
       
            <tbody>
            <tr>
            <th>Información Personal</th>
            </tr>
            <tr>
                <td>Documento identificación:</td>
                <td>{{lpaciente.id_paciente}}</td>
            </tr><br>
            
            <tr>
                <td>Nombre:</td>
                <td>{{lpaciente.Nombre}}</td>
            </tr><br>
            
            <tr>
                <td>Apellido:</td>
                <td>{{lpaciente.Apellido}}</td>
            </tr><br>
            
            <tr>
                <td>EPS:</td>
                <td>{{lpaciente.EPS}}</td>
            </tr><br>
            
            <tr>
                <td>Genero:</td>
                <td>{{lpaciente.Genero}}</td>
            </tr><br>
            
            <tr>
                <td>Municipio:</td>
                <td>{{lpaciente.Municipio}}</td>
            </tr><br>
            
            <tr>
                <td>Edad:</td>
                <td>{{lpaciente.Edad}}</td>
            </tr><br>
            </tbody> 
        </table>



        <table class="table table-striped">
            <tbody>
            
            <tr>
            <th>Motivo de consulta</th>
            </tr> 
             
             {%for a in motivos%}
            <tr>
                
                <td>{{a.Motivo_consulta}}</td>
            </tr><br>
            {%endfor%}
            
            </tbody>    
        </table>


        <table class="table table-striped">
            <tbody>

            <tr>
            <th>Enfermedad actual</th>
            </tr> 
            
            {%for b in enfermedad%}
            <tr>
                
                <td>{{b.Enf_actual}}</td>
            </tr><br>
            {%endfor%}
            </tbody>
        </table>
        

        <table class="table table-striped">
            <tbody>
            <tr>
            <th>Gustos</th>
            </tr> 
            {%for b in gustos%}
            <tr>
                <td>Clima:</td>
                <td>{{b.Clima}}</td>
            </tr><br>
            <tr>
                <td>Temperatura:</td>
                <td>{{b.Temperatura}}</td>
            </tr><br>
            <tr>
                <td>Colores:</td>
                <td>{{b.Colores}}</td>
            </tr><br>
            <tr>
                <td>Numeros:</td>
                <td>{{b.Numeros}}</td>
            </tr><br>
            {%endfor%}
            </tbody>
        </table>
        
        <table class="table table-striped">
            <tbody>
            <tr>
            <th>Examen Fisico</th>
            </tr> 

            {%for c in examen%}
            <tr>
                <td>TA:</td>
                <td>{{c.TA}}</td>
            </tr><br>
            <tr>
                <td>FC:</td>
                <td>{{c.FC}}</td>
            </tr><br>
            <tr>
                <td>FR:</td>
                <td>{{c.FR}}</td>
            </tr><br>
            <tr>
                <td>Peso:</td>
                <td>{{c.Peso}}</td>
            </tr><br>
            <tr>
                <td>Estatura:</td>
                <td>{{c.Estatura}}</td>
            </tr><br>
            <tr>
                <td>Perimetro Cintura:</td>
                <td>{{c.Perimetro_cintura}}</td>
            </tr><br>
            <tr>
                <td>IMC:</td>
                <td>{{c.IMC}}</td>
            </tr><br>
            <tr>
                <td>Pulso:</td>
                <td>{{c.Pulso}}</td>
            </tr><br>
            {%endfor%}
            </tbody>
        </table>


        <table class="table table-striped">
            <tbody>
            <tr>
            <th>Diagnostico CIE10</th>
            </tr> 
            {%for b in diagnostico%}
            <tr>
                <td>Codigo:</td>
                <td>{{b.codigo}}</td>
            </tr><br>
            <tr>
                <td>Nombre:</td>
                <td>{{b.Nombre}}</td>
            </tr><br>
            <tr>
                <td>Tipo:</td>
                <td>{{b.Tipo}}</td>
            </tr><br>
            {%endfor%}
            </tbody>
        </table>

        <table class="table table-striped">
            <tbody>
            <tr>
            <th>Resultado Examen</th>
            </tr> 

            {%for b in resultado%}
            <tr>
                <td>Resultado examen:</td>
                <td>{{b.Resultado}}</td>
            </tr><br>
            {%endfor%}
            </tbody>
        </table>

        <table class="table table-striped">
            <tbody>
            <tr>
            <th>Plan Terapeutico</th>
            </tr> 
            {%for b in terapia%}
            <tr>
                <td>Terapia:</td>
                <td>{{b.Terapia}}</td>
            </tr><br>
            <tr>
                <td>Estado:</td>
                <td>{{b.Estado}}</td>
            </tr><br>
            <tr>
                <td>Especificacion:</td>
                <td>{{b.Especificaciones}}</td>
            </tr><br>
            {%endfor%}
            </tbody>
        </table>


        <table class="table table-striped">
            <tbody>
            <tr>
            <th>Diagnostico propio</th>
            </tr> 
            {%for b in propios%}
            <tr>
                <td>Diagnostico propio:</td>
                <td>{{b.Nombre_diag}}</td>
            </tr><br>
            {%endfor%}
            </tbody>
        </table>

        <<table class="table table-striped">
            <tbody>
            <tr>
            <th>Antecedentes</th>
            </tr> 
        
            {%for c in antecedentes%}
            <tr>
                <td>Patologicos medicamentos:</td>
                <td>{{c.Patologicos_medicamentos}}</td>
            </tr><br>
            <tr>
                <td>Toxicos alergicos:</td>
                <td>{{c.Toxicos_alergicos}}</td>
            </tr><br>
            <tr>
                <td>Quirurgicos:</td>
                <td>{{c.Quirurgicos}}</td>
            </tr><br>
            <tr>
                <td>Traumas fisicos:</td>
                <td>{{c.Trau_fisicos}}</td>
            </tr><br>
            <tr>
                <td>Traumas emocionales:</td>
                <td>{{c.Trau_emocionales}}</td>
            </tr><br>
            <tr>
                <td>Habitos saludables:</td>
                <td>{{c.Habitos_saludables}}</td>
            </tr><br>
            <tr>
                <td>Habitos riesgo:</td>
                <td>{{c.Habitos_riesgo}}</td>
            </tr><br>
            <tr>
                <td>Familiares:</td>
                <td>{{c.Familiares}}</td>
            </tr><br>
            {%endfor%}
            </tbody>
        </table>
        

        <table class="table table-striped">
            <tbody>
            <tr>
            <th>Plan de manejo</th>
            </tr> 
            {%for b in plan%}
            <tr>
                <td>Plan:</td>
                <td>{{b.Plan}}</td>
            </tr><br>
            <tr>
                <td>Control:</td>
                <td>{{b.Control}}</td>
            </tr><br>
            {%endfor%}
            </tbody>
        </table>

        <table class="table table-striped">
            <tbody>
            <tr>
            <th>Revision Consulta</th>
            </tr> 
        
            {%for b in revision%}
            <tr>
                <td>Revision consulta:</td>
                <td>{{b.Rev_consulta}}</td>
            </tr><br>
            {%endfor%}
            </tbody>
        </table>
            
        
    
</form>  
</body>
</html>
