
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Gustos</title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Marcellus|Tangerine" rel="stylesheet"> 
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/cuerpo12.css' %}">

  <!--<link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{%static 'js/bootstrap.min.js'%}">
  <link rel="stylesheet"  href="{% static 'css/estilos.css'%}">
  <link href="{% static 'css/sb-admin.css'%}" rel="stylesheet">-->
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	{% block content %}
	<form method="POST">
		{% csrf_token %}
			<div class="form-group" align="center">
				<tr>
					<th>
						<br>
						<label for="Id_examen">Documento identificacion:</label>
					</th>
					<td>
						<input title="Ingrese un documento valido" pattern="[0-9]*" class="form-control" type="text" name="Id_examen" id = "Id_examen" required 
						placeholder="Cc paciente" maxlength="25">
					</td>
				</tr>
				<tr>
					<br>
					<th>
						<label for="Organo">Organo:</label>
					</th>
					<td>
						<input class="form-control" name="Organo" id = "Organo" required placeholder="Organo"  maxlength="100">
				</tr>
				<tr>
					<br>
					<th>
						<label for="Clasificacion">Clasificación:</label>
					</th>
					<td>
						<input class="form-control" name="Clasificacion" id = "Clasificacion" required placeholder="Clasificación"  maxlength="100">
				</tr>
				<tr>
					<br>
					<th>
						<label for="Especificacion">Especificación:</label>
					</th>
					<td>
						<textarea class="form-control" name="Especificacion" id = "Especificacion" required placeholder="Describa las especificaciones"  maxlength="1000"></textarea>
				</tr>
			</div>
		<br>
		<div align="center"><input class="btn btn-primary btn-block-form" type="submit" value="Guardar"></div>
	</form>
	<br>
	<a href="individuales">Siguiente</a>
	<br><br><br>
	{% endblock content %}
</div>
</body>
</html>