{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Marcellus|Tangerine" rel="stylesheet"> 
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/cuerpo13.css' %}">

    <!--<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'js/bootstrap.min.js'%}">
    <link rel="stylesheet"  href="{% static 'css/estilos.css'%}">
    <link href="{% static 'css/sb-admin.css'%}" rel="stylesheet">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<form method="POST">
        {% csrf_token %}
            <div class="cuerpo" align="center">
                <tr>
                    <th>
                        <br>
                        <label for="id_paciente">Documento identificación:</label>
                    </th>
                    <td>
                        <input title="Ingrese un documento valido" pattern="[0-9]*" class="form-control" type="text" name="id_paciente" id = "id_paciente" required 
                        placeholder="Cc paciente" maxlength="25">
                    </td>
                </tr>
                <tr>
                    <th>
                        <br>
                        <label for="Diagnostico">Diagnóstico del paciente:</label>
                    </th>
                    <td>
                        <textarea class="form-control" type="text" name="Diagnostico" id = "Diagnostico"
                        placeholder="Describa el diagnóstico del paciente" maxlength="1000"></textarea>
                        <br>
                        <script>
                              var value = parent.frames["items"].asignar2(); 
                              document.getElementById('Diagnostico').value = value;
                        </script>
                    </td>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="Medicamentos">Plan terapéutico:</label>
                    </th>
                    <td>
                        <textarea class="form-control" name="Medicamentos" id = "Medicamentos" placeholder="Medicamentos a formular"  maxlength="500"></textarea>
                        <br>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="Incapacidad">Incapacidad:</label>
                    </th>
                    <td>
                        <textarea class="form-control" name="Incapacidad" id = "Incapacidad" placeholder="Incapacidad del paciente"  maxlength="500"></textarea>
                        <br>
                    </td>
                </tr>
            </div>
        <div align="center"><input class="btn btn-primary btn-block-form" type="submit" value="Guardar"></div>
        <br>
        <a target="_top" href="menu">Finalizar y volver al menú</a>
        <br><br>
    </form>