{% block content %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Marcellus|Tangerine" rel="stylesheet"> 
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/registrar.css' %}">
    <script type="text/javascript">
      function comprobarClave(){ 
    password1= document.f1.password1.value 
    password2 = document.f1.password2.value 

    if (password2 == password2) 
        alert("Contrasena igual") 
    else 
        alert("La contraseña no es igual") 
} 
    </script>
</head>

<a class="navbar-brand" href="loginstart" target="_top">Volver</a>


<body>

<div class="Encabezado">
<img src="static/images/LogoConsultorio.png" class="img-responsive" alt="Responsive image" hspace="5" vspace="5" style="float: left;">
<h1>Dr. Jose Alfonso Gutierrez Grisales</h1>
<h3>Médico Bioenergético</h3>
<h5>Registro Médico 1396</h5>
<hr>
</div>

<form method= "post">
    {% csrf_token %}
    
<h6>Los campos con (*) son obligatorios</h6>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
          <label>Nombre (*)</label>
          <input class="form-control" type="text" name="first_name" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
          <label>Apellidos (*)</label>
          <input class="form-control" type="text" name="last_name" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
          <label>Nombre de usuario (*)</label>
          <input class="form-control" type="text" name="username" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
          <label>Correo electronico</label>
          <input class="form-control" type="email" name="email">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
          <label>Contraseña (*)</label>
          <input class="form-control" type="password" name="password1" required minlength="8" maxlength="25">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
          <label>Confirmar contraseña (*)</label>
          <input class="form-control" type="password" name="password2" required minlength="8" maxlength="25">
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
          <button class="btn btn-primary" type= "submit" onclick="comprobarClave()">Guardar</button>
        </div>
      </div>
    </div>



    
</form>
{% endblock %}

</body>
</html>