
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Gustos</title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Marcellus|Tangerine" rel="stylesheet"> 
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/cuerpo10.css' %}">

  <!--<link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{%static 'js/bootstrap.min.js'%}">
  <link rel="stylesheet"  href="{% static 'css/estilos.css'%}">
  <link href="{% static 'css/sb-admin.css'%}" rel="stylesheet">-->
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	{% block content %}
	<form method="POST">
		{% csrf_token %}
			<div class="form-group" align="center">
				<tr>
					<th>
						<br>
						<label for="id_paciente">Documento identificacion:</label>
					</th>
					<td>
						<input title="Ingrese un documento valido" pattern="[0-9]*" class="form-control" type="text" name="id_paciente" id = "id_paciente" required 
						placeholder="Cc paciente" maxlength="25">
					</td>
				</tr>
				<tr>
					<br>
					<th>
						<label for="Terapia">Terapia(s):</label>
					</th>
					<td>
						<input class="form-control" name="Terapia" id = "Terapia" required placeholder="Descripción Terapia"  maxlength="500">
					</td>
				</tr>
				<tr>
					<br>
					<th>
						<label for="Estado">Estado:</label>
					</th>
					<td>
						<select class="form-control" name="Estado" id = "Estado" required placeholder="Estado Terapia" maxlength="25" >
						<option>En proceso</option>
						<option>Finalizada</option>
						<option>Cancelada</option>
						<option>A definir</option>
						</select>
					</td>
				</tr>
				<tr>
					<br>
					<th>
						<label for="Especificaciones">Especificaciones:</label>
					</th>
					<td>
						<textarea class="form-control" name="Especificaciones" id = "Especificaciones" required placeholder="Describa las especificaciones de la(s) terapia(s)"  maxlength="1000"></textarea>
					</td>
				</tr>
			</div>
		<br>
		<div align="center"><input class="btn btn-primary btn-block-form" type="submit" value="Guardar"></div>
	</form>
	<br>
	<a href="Resultado">Siguiente</a>
	<br><br><br>	
	{% endblock content %}
</div>
</body>
</html>